<div class="card">
  <div class="card-block">
    <div class="card-header info-color">
      <h4 class="card-title">Customers</h4>
    </div>
    <div class="card-body">
      <p>Our awesome customers</p>
      <app-search></app-search>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let customer of customers">
          <a [routerLink]="['detail', customer.id, customer.name]">
            {{ customer.name }}
          </a> -
          (dynamische [routerLink] gegenereerd)
        </li>
      </ul>
      <a routerLink="detail">Go to customer detail (hardcoded)</a>
    </div>
  </div>
</div>
